* {
    padding: 0;
    margin: 0.75rem;
    box-sizing: border-box;
}

body {
    background: cyan;
    text-align: center;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
}

.description {
    font-size: larger;
    margin: 1.5rem;
}

.bill-amount,
.cash-amount {
    font-weight: bolder;
    font-size: 2rem;
    color: navy
}

#bill-amount,
#cash-amount {
    font-size: 1.2rem;
    text-justify: auto;
    width: 40vh;
    height: 7vh;
    border-radius: 0.5rem;
    margin: 0 0 2rem 0;
    border: 0.2rem solid black;
}

#btnCheck {
    padding: 0.5rem;
    width: 10vh;
    border-radius: 0.5rem;
    border: 0.2rem solid black;
    font-weight: bolder;
    background-color: transparent;
    cursor: pointer;
}

#btnCheck:hover {
    background-color: goldenrod;
}

.table-caption{
    margin: 3rem auto;
    font-size: 2rem;
    text-decoration: underline;
}

#error{
    margin: 1rem auto;
    font-size: 1.5rem;
    font-weight: bolder;
}

.change-table{
    margin: 3rem auto 0;
    border-spacing:5px 5px 50px 5px;
    border: 0.2rem solid black;
    width:70%;
}

th, td{
border: 1px solid;
width: 0px;
border-collapse: collapse;
padding: 0.5rem;

}